<h1>Messages#new</h1>

<%= turbo_frame_tag "new_message", target: "top" do %>
  <%= form_with(model: [@message.room, @message], id: 'message_form',
                data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset"}) do |form| %>
    <div class="field">
      <%= form.text_field :content %>
      <%= form.submit "Send" %>
    </div>
  <% end %>
  <%= link_to 'Back', @message.room %>
<% end %>
